.wrapper {
  width: 446px;
  height: 661px;
  background: rgba(255, 192, 157, 0.57);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 20px auto;
  display: block;
  padding: 5px;
  padding-bottom: 30px;
}
.btn {
  color: black;
  height: 50px;
}

.btn:hover {
  color: #767676;
}

.form-control {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: Lexend Deca;
  font-size: 12px;
}
.location h3 {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  padding-top: 10px;
  padding-left: 15px;
}
.location h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  padding-left: 15px;
}
.CurrentDay h3 {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-left: 15px;
}
.CurrentTempWrapper {
  margin: 20px auto;
  width: 407px;
  height: 176px;
  background: rgba(255, 240, 232, 0.82);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.Week h3 {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-left: 15px;
}
.forecast {
  font-size: 15px;
  text-align: center;
  display: block;
  border: none;
  width: 76px;
  height: 122px;
  background: rgba(255, 240, 232, 0.82);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 auto;
  padding: 5px;
}
.forecast-date {
  font-size: 15px;
  font-family: Lexend Deca;
  padding-bottom: 8px;
}
.forecast-temperature {
  font-family: Lexend Deca;
  font-size: 14px;
  padding: 10px 5px 0px;
}
.forecast-temperature-min {
  color: #7d7d7d;
}
.forecast-row {
  padding-right: 10px;
}
